button {
  position: relative;
  overflow: hidden;
}

.build-pc-wrapper {
  margin: 0 auto;
  padding: 0.5em;
}

.custom-width-11-12 {
  width: 90%;
}

.custom-width-5 {
  width: 5.5%;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-image {
  width: 5rem;
  height: auto;
}

.service-table {
  width: 100%;
  border-collapse: collapse;
}

.service-th,
.service-td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.service-th {
  background-color: #f2f2f2;
}
