@font-face {
    font-family: 'Roboto Thin' !important;
}

* {
    padding: 0;
    margin: 0;
}


@media screen and (min-width: 200px) and (max-width: 768px) {
    * {
        font-size: 13px;
    }
}


.chat-box {
    max-height: 300px; /* Giới hạn chiều cao của chat box */
    overflow-y: auto; /* Cho phép cuộn dọc khi nội dung vượt quá kích thước */
}
