.slider {
  height: 480px;
  position: relative;
}

.homepage-card-item {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.button-style {
  background-color: white;
  border: 1px solid red;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-style:hover {
  background-color: red;
  color: white;
}

.icon-style {
  color: red;
  font-size: 20px;
  transition: color 0.3s ease;
}

.button-style:hover .icon-style {
  color: white;
}

.abc {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;

}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}