@tailwind base;
@tailwind components;
@tailwind utilities;

.body-wrapper {
  margin: 0 auto;
}

.url {
  font-weight: 600;
  color: lightgrey;
  margin: 8px 0 8px 0;
  font-size: 13px;
}

.url a {
  font-size: 15px;
  text-decoration: none;
  color: #2F80ED;
}

.url b {
  font-weight: bold;
  font-size: 20px;
  color: grey;
}

.url .name {
  font-size: 15px;
  text-decoration: none;
  color: #2F80ED;
  font-weight: 500;
}

.top-line {
  height: 1px;
  background: lightgrey;
  margin: 0 auto;
}

.product-box {
  display: flex;
  margin: 20px auto;
}

.left-box {
  width: 60%;
}

.right-box {
  width: 40%;
}

.main-img {
  width: 95%;
  text-align: center;
}

.main-img img {
  max-width: 100%;
  height: 400px;
  display: inline-block;
}

.img-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}


.img-popup img {
  height: 90%;
}

.img-popup.open {
  display: flex;
  z-index: 1000;
}

.sub-img-list {
  display: flex;
  width: 95%;
  justify-content: center;
}

.sub-img-item {
  height: 60px;
  width: 70px;
  padding: 2px 6px;
  overflow: hidden;
  border: 1px solid #D0021C;
  border-radius: 5px;
  margin: 0 5px;
}

.sub-img-item img {
  height: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sub-img-item:hover img {
  transform: scale(1.2);
}

.sub-img-item.active {
  border: 2px solid orange;
  transform: scale(1.1);
}

.right-box-top {
  background: linear-gradient(to right, orangered, orange);
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 1px;
}

.right-box-top-child {
  margin: 3px 3px 2px 3px;
  background: #ffffff;
  border-radius: 6px;
  padding: 20px;
}

.pname {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  padding-left: 22px;
}

.right-box-top .sold {
  color: #ffffff;
  padding-left: 22px;
}

.ratings {
  display: flex;
}

.ratings .star-icon {
  margin-top: 5px;
  color: orange;
}

.ratings p {
  margin: 0 5px;
  color: blue;
}

.product-price {
  display: flex;
  font-size: 25px;
  font-weight: 500;
  margin: 15px 0 5px 0;
}

.product-price b {
  color: #D0021C;
}

.product-price p {
  padding-top: 5px;
  color: #666666;
  font-size: 19px;
  text-decoration: line-through;
}

.product-price-ratio {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #FF9200;
  border: 1.5px solid #FF9200;
  border-radius: 2px;
  width: 100px;
  margin-bottom: 20px;
}

.VAT {
  display: flex;
  margin-bottom: 10px;
}

.VAT div {
  color: #fff;
  background: orangered;
  margin-right: 10px;
  padding: 0 10px;
  border-radius: 5px;
}

.product-model {
  display: flex;
  align-items: center;
  margin: 2px 0;
}

.model {
  font-size: 20px;
  font-weight: 700;
}

.pmodel {
  height: 25px;
  font-size: 15px;
  border: 1.5px solid grey;
  background: #ffffff;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  padding: 0 5px;
}

.pmodel.active {
  border-color: orange;
  color: orange;
  font-weight: 600;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-control button {
  width: 25px;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 900;
  font-size: 15px;
  background: #E2E8F0;
}

.quantity p {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
}

.quantity input {
  width: 40px;
  margin: 5px 0;
  font-size: 15px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
  font-weight: 500;
}

.btn-box {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.btn-box button {
  font-size: 22px;
  padding: 5px 20px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}

.cart-btn {
  background: #D0021C;
  margin-right: 10px;
}

.cart-btn:hover {
  background-color: orangered;
}

.buy-btn {
  background: #2F80ED;
}

.buy-btn:hover {
  background: blue;
}

.call-to-order {
  margin-top: 5px;
  text-align: center;
}

.call-to-order a {
  text-decoration: none;
  color: #2F80ED;
  font-weight: 500;
}


/* INFO TABLE */

.right-box-bottom {
  margin-top: 50px;
}

.detail-name {
  margin: 10px 0;
  font-size: 30px;
  font-weight: 600;
}

.detail-table {
  border-collapse: collapse;
  width: 100%;
}

.detail-table td,
.detail-table th {
  text-align: left;
  padding: 8px;
}

.detail-table .left-tbl {
  width: 30%;
}

.detail-table tr:nth-child(odd) {
  background-color: #f3f3f3;
}

/* SERVICE */

.service {
  margin-top: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 95%;
  padding: 10px 20px;
}

.service-item {
  display: flex;
  margin: 10px 0;
}

.service-item-child {
  width: 50%;
  margin: 0 10px 0 0;
  display: flex;
}

.service-item .service-icon {
  font-size: 30px;
  margin: 5px 10px auto 0;
  color: rgb(129, 198, 222);
}

.service-item p,
.item-combo p {
  font-size: 17px;
  font-weight: 400;
}

.item-combo b {
  font-size: 17px;
  font-weight: 500;
}

.service-item a {
  font-size: 17px;
  text-decoration: none;
  color: #D0021C;
  font-weight: 600;
}

.service-item a:hover {
  color: blue;
  text-decoration: underline;
}

.service-line {
  margin: 20px 10px;
  height: 1px;
  background: lightgrey;
}

/* PRODUCT CONTENT */

.product-content {
  margin: 40px 0;
  width: 95%;
}

.product-content img {
  height: 500px;
  width: 100%;
}

.product-content h2 {
  font-size: 25px;
  font-weight: 500;
}

.product-content p {
  margin: 20px 0;
  letter-spacing: 0.5px;
  font-weight: 400;
}

/* Recommend accesories */
.similar-product-line,
.recommended-accessories-line {
  height: 1px;
  width: 95%;
  margin: 0 auto 10px auto;
  background: lightgrey;
}

.recommended-accessories-slogan {
  margin: 25px 0 15px 0;
  padding: 10px 0;
  color: white;
  font-size: 19px;
  font-weight: 500;
  background: #2F80ED;
}

.recommended-accessories a {
  float: left;
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

.similar-product-content a:hover,
.recommended-accessories-content a:hover {
  color: blue;
}

.cart-notification {
  display: none;
  position: fixed;
  bottom: 10px;
  right: -75px;
  transform: translateX(-50%);
  background: green;
  color: #fff;
  padding: 5px 10px;
  border: 1.5px solid green;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeOut 3s ease-in-out;
  font-weight: 500;
  font-size: 16px;
}

.cart-check {
  margin-right: 5px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

/* RECOMMEND ACCESSORIES */
.recommend-main-product {
  display: flex;
}

.recommended-main-img {
  height: 150px;
  width: 40%;
}

.recommended-main-img img {
  height: 100%;
  padding-left: 10%;
}

.recommended-main-content {
  padding: 10px 0;
}

.recommended-main-content h1 {
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  padding-left: 20px;
}

.recommended-accessories-checkbox {
  padding: 50px 0 0 30px;
}

.recommended-accessories-checkbox input[type="checkbox"] {
  transform: scale(1.25);
}

/* RECOMMEND ACCESSORIES LIST */
.recommended-accessories-header {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0;
  text-align: center;
}

.recommended-accessories {
  text-align: center;
  margin: 50px auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.recommended-accessories-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.recommended-accessories-item {
  box-sizing: border-box;
  text-align: center;
  display: flex;
}

.recommended-accessories-img {
  width: 25%;
  margin: 5px 0 auto 5px;
}

.recommended-accessories-img img {
  width: 100%;
  height: 120px;
}

.recommended-accessories-content {
  padding-top: 20px;
  padding-left: 25px;
  width: 70%;
  font-size: 15px;
}

.accessories-price {
  width: 100%;
  padding-left: 20px;
  display: flex;
}

.accessories-price b {
  color: #D0021C;
}

.money-unit {
  padding-right: 10px;
  font-size: 13px;
  text-decoration: underline;
}

.accessories-price p {
  color: #666666;
  text-decoration: line-through;
}

.accessories-price-ratio {
  font-size: 14px;
  font-weight: 500;
  color: #FF9200;
  border: 1px solid #FF9200;
  border-radius: 2px;
  width: 80px;
  margin: 5px 0 0 20px
}

.buy-recommend-btn {
  background: #D0021C;
  color: #fff;
  width: 90%;
  height: 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
}

.buy-recommend-btn:hover {
  background: #FF4500;
}

.total-price {
  display: flex;
  justify-content: center;
}

.total-price b {
  font-size: 22px;
  color: #D0021C;
}

.total-price p,
.total-price h1 {
  padding: 5px 10px 0 0;
}

.total-price p {
  color: #666666;
  font-weight: 500;
  text-decoration: line-through;
}

/* ORDER FORM */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.order-popup {
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 10px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup-content {
  text-align: center;
}

.popup-content h1 {
  font-size: 30px;
  font-weight: 500;
  padding-top: 10px;
}

.close-form-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close-form-btn:hover {
  color: #2F80ED;
  font-weight: bolder;
}

.open-form-btn {
  cursor: pointer;
}

.order-form {
  width: 550px;
  margin: 10px auto;
  padding: 10px;
}

.order-form label {
  float: left;
  display: block;
  margin: 10px 0 5px 0;
  color: #333;
  font-weight: 700;
}

.order-form input {
  width: 100%;
  height: 40px;
  padding: 5px 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid rgb(217, 217, 217);
  background: rgb(244, 244, 244);
  border-radius: 20px;
  outline: none;
}

.order-form button {
  background: linear-gradient(70.06deg, #00bfff -5%, #00ffd5 106%);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
}

.order-form button:hover {
  background: linear-gradient(70.06deg, #00e1ff -5%, #00ffd0 106%);
}

.phone-wrapper {
  width: 100%;
  display: flex;
}

.order-logo {
  width: 60px;
  margin: 10px auto 0 auto;
}

.address-selects {
  display: flex;
  width: 100%;
  height: 35px;
  margin: 10px auto;
  justify-content: space-between;
}

.address-selects select {
  width: 32%;
  text-align: center;
  height: 40px;
  border: 1px solid rgb(217, 217, 217);
  background: rgb(244, 244, 244);
  border-radius: 20px;
}

.shipping {
  text-align: center;
  height: 40px;
  width: 100%;
  border: 1px solid rgb(217, 217, 217);
  background: rgb(244, 244, 244);
  border-radius: 20px;
}

.scroll-to-top-button {
  position: fixed;
  bottom: 90px;
  right: 10px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 35px;
}

.scroll-icon {
  padding-bottom: 2px;
}

.scroll-to-top-button:hover {
  background-color: #0056b3;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.3);
  }

  100% {
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.3);
    width: 56px;
    height: 56px;
    bottom: 27px;
    right: 7px;
  }
}

@keyframes shake {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.3);
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }

  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }

  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }

  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }

  100% {
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5);
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.call-button {
  position: fixed;
  bottom: 30px;
  right: 10px;
  background-color: #D0021C;
  color: #fff;
  font-size: 25px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  animation: shake 1s infinite ease-in-out;
  transition: box-shadow 1s ease-in-out;
}

.call-button:hover {
  animation: pulse 0.1s infinite;
  transition: box-shadow 0.1s ease-in-out;
}

.main-money-unit {
  padding: 0 15px 0 5px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
}

.product-content {
  max-height: 1300px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.product-content.expanded {
  max-height: none;
}

.collapse-button {
  width: 95%;
  border: 2px solid #2E7DED;
  height: 35px;
  font-weight: 600;
  color: #2E7DED;
}

.collapse-chevron {
  padding-left: 7px;
}


.similar-product {
  text-align: center;
  margin: 50px auto;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.similar-product .similar-product-header {
  padding: 15px 0;
  font-size: 26px;
  font-weight: 600;
}


.similar-product-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.similar-product-item {
  width: 33%;
  padding: 20px 0;
  box-sizing: border-box;
  text-align: center;
}

.similar-product-item-content {
  display: flex;
}

.similar-product-img {
  width: 40%;
  margin-left: 15px;
}

.similar-product-img img {
  width: 100%;
}

.similar-product-content {
  width: 60%;
}

.similar-product a {
  float: left;
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
}

.similar-product a:hover {
  color: blue;
}

.similar-product-price {
  width: 100%;
  padding-left: 20px;
  display: flex;
}

.similar-product-price b {
  color: #D0021C;
}

.money-unit {
  padding-right: 10px;
  font-size: 13px;
  text-decoration: underline;
}

.similar-product-price p {
  color: #666666;
  text-decoration: line-through;
}

.similar-product-price-ratio {
  font-size: 14px;
  font-weight: 500;
  color: #FF9200;
  border: 1px solid #FF9200;
  border-radius: 2px;
  width: 80px;
  margin: 5px 0 0 20px
}

.similar-product-btn-box {
  display: flex;
  margin: 10px 0 0 20px;
}

.similar-product-btn-box button {
  font-size: 15px;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: all 0.3s ease;
}

.success-notification {
  display: flex;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 500;
}

.success-notification-check {
  margin-right: 10px;
  padding-top: 3px;
  font-size: 24px;
}

.left-in-stock {
  color: #D0021C;
  font-weight: 500;
}

.disabled-btn {
  pointer-events: none;
}

.disabled-btn:hover {
  background: #2F80ED;
  pointer-events: none;
}

@keyframes chats {
  0% {
    box-shadow: 0 0 0 0 red, 0 0 0 0 orange, 0 0 0 0 yellow, 0 0 0 0 green, 0 0 0 0 blue, 0 0 0 0 indigo, 0 0 0 0 violet;
  }

  100% {
    box-shadow: 0 0 10px 10px red, 0 0 20px 20px orange, 0 0 30px 30px yellow, 0 0 40px 40px green, 0 0 50px 50px blue, 0 0 60px 60px indigo, 0 0 70px 70px violet;
  }
}

.chat-popup {
  border-radius: 10px;
  position: fixed;
  bottom: -23%;
  right: -7.7%;
  transform: translate(-50%, -50%);
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: rgb(244, 244, 244);
  z-index: 2;
  width: 350px;
  /* animation: chats 0.1s infinite;
  transition: box-shadow 0.1s ease-in-out; */
}

.chat-content {
  background: white;
}

.chat-form input {
  width: 95%;
  height: 40px;
  padding: 5px 10px;
  margin: 300px 9px 0 9px;
  box-sizing: border-box;
  border: 1px solid rgb(217, 217, 217);
  background: rgb(244, 244, 244);
  border-radius: 7px;
  outline: none;
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
}

.chat-form button {
  position: absolute;
  bottom: 5.3%;
  right: 7%;
  font-size: 18px;
}

.chat-logo {
  width: 40px;
  height: 40px;
  margin: 5px 10px 7px 10px;
}

.chat-header h1 {
  font-size: 25px;
  font-weight: 500;
  margin-top: 5px;
}

.chat-header {
  display: flex;
  background: rgb(244, 244, 244);
}

.close-chat-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}

.phone-ship {
  width: 49%;
}

.chat-message {
  border: 1px solid #1c6ef3;
  background-color: #1c6ef3;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 2px 10px;
  font-weight: 400;
  border-radius: 5px;
  margin: 60px 10px;
  max-width: 300px;
  white-space: pre-wrap;
  word-wrap: break-word;
}